{% extends 'base.html' %}
{% load i18n %}

{% block header %}
    {% include "registration/header.html" %}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2 class="mdc-typography--display2">{{ title }}</h2>

    <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
    <form method="post">{% csrf_token %}
        <div>
            {{ form.email.errors }}
            <label class="mdc-text-field mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="email">{% trans 'Email address:' %}</span>
                <input class="mdc-text-field__input" type="email" aria-labelledby="email" name="email"
                       autocomplete="email" maxlength="255" required id="{{ form.email.id_for_label }}">
                <span class="mdc-line-ripple"></span>
            </label>
        </div>
        <p>
            <button class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" type="submit">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">{% trans 'Reset my password' %}</span>
            </button>
        </p>
    </form>

{% endblock %}