{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    {% if LANGUAGE_BIDI %}
        {% include "registration/header_rtl.html" %}
    {% else %}
        {% include "registration/header.html" %}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="bg-dark fg-white h2">{{ title }}</div>
    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

    <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>

{% endblock %}