{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
    {% include "registration/header.html" %}
{% endblock %}

{% block content %}
    <h2 class="mdc-typography--display2">{{ title }}</h2>
    {% if validlink %}

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form method="post">{% csrf_token %}
            <div>
                {{ form.new_password1.errors }}
                <label class="mdc-text-field">
                    <div class="mdc-text-field__ripple"></div>
                    <input class="mdc-text-field__input" type="password" aria-labelledby="new_password1"
                           name="new_password1" required
                           id="{{ form.new_password1.id_for_label }}">
                    <span class="mdc-floating-label" for="new_password1">{% trans 'New password:' %}</span>
                    <div class="mdc-line-ripple"></div>
                </label>
            </div>
            <p></p>
            <div>
                {{ form.new_password2.errors }}
                <label class="mdc-text-field">
                    <div class="mdc-text-field__ripple"></div>
                    <input class="mdc-text-field__input" type="password" aria-labelledby="new_password2"
                           name="new_password2" required
                           id="{{ form.new_password2.id_for_label }}">
                    <span class="mdc-floating-label" for="new_password2">{% trans 'Confirm password:' %}</span>
                    <div class="mdc-line-ripple"></div>
                </label>
            </div>
            <p>
                <button class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" type="submit">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">{% trans 'Change my password' %}</span>
                </button>
            </p>
        </form>

    {% else %}

        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

{% endblock %}
