{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="frame active container-fluid">
        <div class="bg-dark fg-white h2">{{ title }}</div>
        <div class="content">
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="pt-4"><input class="button primary" type="submit"
                                             value="{% trans 'Change my password' %}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}