{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
    {% include "registration/header.html" %}
{% endblock %}

{% block content %}
    <h2 class="mdc-typography--display2">{{ title }}</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.old_password.errors }}
            <label class="mdc-text-field">
                <div class="mdc-text-field__ripple"></div>
                <input class="mdc-text-field__input" type="password" aria-labelledby="old_password"
                       name="old_password" required autocomplete="current-password"
                       id="{{ form.old_password.id_for_label }}">
                <span class="mdc-floating-label" for="old_password">{{ form.old_password.label_tag }}</span>
                <div class="mdc-line-ripple"></div>
            </label>
        </div>
        <p></p>
        <div>
            {{ form.new_password1.errors }}
            <label class="mdc-text-field">
                <div class="mdc-text-field__ripple"></div>
                <input class="mdc-text-field__input" type="password" aria-labelledby="new_password1"
                       name="new_password1" required autocomplete="new-password"
                       id="{{ form.new_password1.id_for_label }}">
                <span class="mdc-floating-label" for="new_password1">{{ form.new_password1.label_tag }}</span>
                <div class="mdc-line-ripple"></div>
            </label>
            {% if form.new_password1.help_text %}
                <div class="help">{{ form.new_password1.help_text|safe }}</div>
            {% endif %}
        </div>
        <p></p>
        <div>
            {{ form.new_password2.errors }}
            <label class="mdc-text-field">
                <div class="mdc-text-field__ripple"></div>
                <input class="mdc-text-field__input" type="password" aria-labelledby="new_password2"
                       name="new_password2" required autocomplete="new-password"
                       id="{{ form.new_password2.id_for_label }}">
                <span class="mdc-floating-label" for="new_password2">{% trans 'Confirm password:' %}</span>
                <div class="mdc-line-ripple"></div>
            </label>
            {% if form.new_password2.help_text %}
                <div class="help">{{ form.new_password2.help_text|safe }}</div>
            {% endif %}
        </div>
        <p></p>
        <p>
            <button class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" type="submit">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">{% trans 'Change my password' %}</span>
            </button>
        </p>
    </form>
{% endblock %}