{% load i18n %}{% autoescape off %}
    <p>
        {% blocktrans %}Your rendering job has just finished successfully.{% endblocktrans %}
    </p>
    <p>
        {% trans "To retreive your map data go to" %}
    </p>


    {% for map in map_result %}
        <a href="{{ url }}{% url 'fileserver:download' pk=map.guid %}">
            {{ url }}{% url 'fileserver:download' pk=map.guid %}</a>
        <br>
    {% endfor %}

    <p>
        {% blocktrans %}The Territorium Map Server team{% endblocktrans %}
    </p>

{% endautoescape %}