{% extends 'base.html' %}
{% load i18n %}

{% block title %}Job {{ renderjob.guid }}{% endblock %}

{% block header %}
    {% include "fileserver/header.html" with title="Job" %}
{% endblock %}

{% block content %}
    <table class="mdc-data-table__table" aria-label="Files">
        <tbody class="mdc-data-table__content">
        <tr class="mdc-data-table__row">
            <td class="mdc-data-table__cell">{% trans 'GUID' %}</td>
            <td class="mdc-data-table__cell">{{ renderjob.guid }}</td>
        </tr>
        <tr class="mdc-data-table__row">
            <td class="mdc-data-table__cell">{% trans 'Owner' %}</td>
            <td class="mdc-data-table__cell">{{ renderjob.owner }}</td>
        </tr>
        <tr class="mdc-data-table__row">
            <td class="mdc-data-table__cell">{% trans 'Polygon count' %}</td>
            <td class="mdc-data-table__cell">{{ renderjob.polygon_count }}</td>
        </tr>
        <tr class="mdc-data-table__row">
            <td class="mdc-data-table__cell">{% trans 'Send time' %}</td>
            <td class="mdc-data-table__cell">{{ renderjob.send_time }}</td>
        </tr>
        <tr class="mdc-data-table__row">
            <td class="mdc-data-table__cell">{% trans 'Finish time' %}</td>
            <td class="mdc-data-table__cell">{{ renderjob.finish_time }}</td>
        </tr>
        <tr class="mdc-data-table__row">
            <td class="mdc-data-table__cell">{% trans 'Error message' %}</td>
            <td class="mdc-data-table__cell">{{ renderjob.message }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
